html, body {
    height: 100%;
}

.container {
    text-align: center;
}

.glyphicon-plus{
    top: -4px;
}

#pageTitle {
    margin-bottom: 40px;
}

#chart-title {
    display: inline;
}

#movieTable {
    margin: 10px auto;
}

th, td {
    padding: 10px;
}